/*  width think pad or screen size 1200px */

*{
margin: 0%;
padding: 0%;
list-style-type: none;
/* background: #F7F7F7; */
}

a{
    text-decoration: none;
    color: var(--primary-colour);
}

:root { 
    --primary-colour: #FFFFFF;
    --secondary-colour: #9A9A9A;
    --width-1280:1280px;   
    --width--1220: 1220px;
    
}
.container{
    /* width: var(--width-1280);
    margin: auto; */
    max-width: var(--width-1280);
    margin: 0rem  auto 0 auto;
    
}

.header{
    z-index: 1;
    box-shadow: 1px 1px 10px var(--secondary-colour);
    height: 80px;
    /* width: var(--width-1280); */
    max-width: var(--width-1280);
    margin: auto;
    position: relative;
    left: 0px;
    background-color: var(--primary-colour);
    justify-content: center;
}

.header ul{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
    position: absolute;
    
    height: 36px;
}

.header ul li{
    display: flex ;
    

} 

.mywebsite a{
    width: 139px;
    height: 36px;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: var(--secondary-colour);
    position: absolute;
    top: 22px;
    left: 50px;
}

.badge {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 1200px;
    right: 0%;
    top:  40px;
    bottom: 0%;
    
}

.badge-2 {display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 1150px;
    right: 0%;
    top:  40px;
    bottom: 0%;
    
    
}

.badge-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 200px;
    right: 0%;
    top:  43px;
    bottom: 0%;

}



.searchbar{
    
    
    width: 221px ;
    height: 28px;
    background: var(--primary-colour);
    border: 1px solid var(--secondary-colour);
    border-radius: 5px;
    position: absolute;
    left: 450px;
    top: 25px;
    padding-left: 1rem;
    
}






.login-button{
    background-color: var(--secondary-colour);
    height: 40px;
    width: 100px;
    border: 1px solid var(--primary-colour);
    position: absolute;
    left: 1010px;
    right: 18%;
    top: 50%;
    bottom: 25%;
    font-weight: 600;
}

.login-button a{
    padding: 1rem;
}

.main{
    /* height: 1538px;
width: 1920px;
left: -5947px;
top: -1251px; */

/* width: var(--width-1280); */
max-width: var(--width-1280);
left: -144px;
border-radius: 0px;

position: relative;
/* width: var(--width-1280); */
height: auto;

background: #F7F7F7;

display: flex;


}

.main_navigator{
    height: 140px;
/* width: var(--width-1280);
 */
 max-width: var(--width-1280);
left: 165px;
top: 14px;
border-radius: 0px;
position: absolute;

}

.main_navigator ul{
    display: flex;
    flex-direction: row;
    gap: 1.2rem;

}
.thumbnail_section{
    position: relative;
}

.thumbnail_section_name{
    position: absolute;
    background-color: rgb(252, 252, 252);
    bottom: 38%;
    left: 0%;
    padding: 5px 130px;
    margin: auto;
    
}

.thumbnail_section :hover{

    
    background-color: transparent;
    color: #F7F7F7;
    cursor: pointer;
    box-shadow: inset 1px 1px 100px;
}

.thumbnail_image :hover{
    box-shadow: 1px 10px 10px var(--secondary-colour);


}

.main_hero{
    position: absolute;
width: var(--width--1220);

/* max-width: var(--width-1280); */
/* keep width 1220 for think pad or screen size 1200px */
height: 691px;
left: 165px;
top: 248px;

background: #C4C4C4;
}

.footer{
    position: absolute;
    height: 27px;
    left: 164px;
    top: 980px;
    /* width: var(--width--1220); */
    max-width: var(--width-1280);
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    color: #000000;}

    .footer ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 3rem;
    }



    .sub_card{
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        background: rgba(196, 196, 196, 0.7);
        padding: 1rem 1rem;


    }

.sub_card_image img{
    width: 204px;
    height: 237px;
}

.sub_card_image  :hover{
    box-shadow:  1px 1px 10px var(--secondary-colour);
    cursor: pointer;
}

.sub_card_detail{
    display: flex;
    flex-direction: column;

}

.sub_card_detail :first-child{
    position: absolute;
    top: 10px;
}


/* login page style */
.login-box-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 92vh;
}








.login_box{
     padding: 1rem;
    position: relative;

     width: 380px;
     height: auto; 
     
     box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
     
    display: flex;
    flex-direction: column;
    justify-content:center;
    
    text-align: center;
 
      color: #000000;
    gap: 1rem;
}




.login-box-container{
   
  
   left: 0px;

background: #F7F7F7;
justify-content: center;
align-items: center;


}

.login_option{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
}


.login_box ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    
}

.login_box ul li{
    margin-top: 1rem;
}





.login-btn{
    margin: auto;
    border: none;

    
    
}



label{
    position: absolute;
    left: 44px;
    
}


.login-btn a {
    background-color: #3B82F6;
    padding: 0.5rem 9rem;
    font-weight: 600;










}
.input-bar{
    background: #FFFFFF;
border: 1px solid #D0D0D0;
/* border-radius: 5px; */
width: 25vw;
height: 4vh;
}

.link{
    color: #3B82F6;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* wishlist page style starting here*/

.wishlist_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 3rem;
}

.wishlist_card_box{
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

.wishlist_card{
    box-shadow: 1px 1px 5px gray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .wishlist_card_box .wishlist_card :hover{
    box-shadow: 1px 1px 10px gray;


}

#item_img :hover{
    box-shadow: none;
} */

.wishlist_card_div_img{
    background-color: var(--secondary-colour);
    position: relative;
}

#item_img{
    width: 190px;
    height: 210px;
}

.wishlist_card_div_img button{
    border-radius: 100%;
    background-color: #F7F7F7;
    position: absolute;
    border: none;
    right: 1%;
    top: 1%;
    padding: 3px;
    box-shadow: .5px .5px .5px grey;
}

.wishlist_movetocart_btn{
    background-color: var(--secondary-colour);
    color: #FFFFFF;
    margin: auto;
    padding: 0.4rem 3.6rem;
    border: none;
}

.wishlist_item_name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0.5rem;
}

.wishlist_item_price{
    font-weight: 800;
    padding-bottom: 0.3rem;
}


/* cart html */

.cart_container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.cart_box{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}
.cart_final_item{
    box-shadow: 1px 2px 5px gray;
    display: flex;
    
    justify-content: center;
    align-items: flex-start;
}

.cart_final_item_img img{
    width: 320px;
    height: auto;
}

.cart_final_item_detail{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding:1rem ;
    height: auto;
    width: 320px;
}

.cart_final_item_invoice{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 320px;
    position: relative;
}

.invoice{
    
    position: absolute;
    right: 2px;
}

.place_order {
    padding: .5rem;
    background-color: var(--secondary-colour);
    border: none;
    color: #FFFFFF;
    font-weight: 600;
}

.to_remove_btn{
    padding: .5rem;
    background-color: var(--secondary-colour);
    border: none;
    color: #FFFFFF;
    font-weight: 600;

}

.to_wishlist_btn{
    padding: .5rem;
    background-color: var(--primary-colour);
    border: 1px solid var(--secondary-colour);
    color: var(--secondary-colour);
    font-weight: 600;

}

/* Product page */

.product_container{
    display: flex;
    flex-direction: column;

}

.product_box{
    display: flex;
    flex-direction: row;
}

.filter_slider{
    display: flex;
    flex-direction: column;
    width: 30%;
    box-shadow: -1px 10px 5px gray;
    position: relative;
}
.filter_slider h2{
    padding: 1rem .2rem;
}

.filter_slider h2 span a{

    color: #000000;
    text-decoration: underline;
}

.filter_slider h2 span{
    font-size: small;
    position: absolute;
    right: 3%;
    top: 5%;

}



.price,.rating,.category,.sort{
    display: flex;
    padding: 1rem 0rem 0rem .2rem;
    flex-direction: column;
    justify-content: start;
}

.product_display{
    padding: .5rem 0rem 1rem .5rem;
    background-color: #F7F7F7;
    width: 100vw;
}



.product{
    padding: 0rem;
}

.product_card_a_section ul{
display: flex;
flex-direction: row;
gap: 2rem;
padding: 1rem 2rem;
}

.product_card_b_section ul{
    display: flex;
flex-direction: row;
gap: 2rem;
padding: 1rem 2rem;

}

























